@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 6.125rem;
}

@layer utilities {
  .transition-default {
    @apply transition-all duration-200 ease-in-out;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  /*
  --- Light Theme - Remove when designing for light mode
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 240 5% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 196 52% 74%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;

    --header-height: 6.125rem;
  }*/

  :root {
    --background: 0 0 0;
    --foreground: 0.986 0.01 250;

    --text: 0.986 0.01 250;

    --card: 0.19 0 0;
    --card-foreground: 0.986 0.01 250;

    --popover: 0.203 0.024 263.7;
    --popover-foreground: 0.986 0.01 250;

    --primary: 0.986 0.01 250;
    --primary-foreground: 0.271 0.024 263.7;

    --secondary: 0.323 0.022 259.4;
    --secondary-foreground: 0.986 0.01 250;

    --muted: 0.323 0.022 259.4;
    --muted-foreground: 0.698 0.022 259.4;

    --accent: 0.323 0.022 259.4;
    --accent-foreground: 0.7764 0.1336 73.62;

    --destructive: 0.52 0.22 15;
    --destructive-foreground: 0.986 0.01 250;

    --border: 0.29 0 0 / 0.8;
    --input: 0.323 0.022 259.4;
    --ring: 0.86 0.03 260;

    --success: 0.35 0.15 200;
    --warning: 0.45 0.15 70;
    --error: 0.55 0.15 25;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply flex min-h-[100vh] flex-col bg-background text-foreground;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

body::selection {
  background-color: white;
  color: #111;
}

.border-debug {
  border: solid 1px cyan;
}

.wg-grid-1 {
  @apply grid grid-cols-4 gap-5 md:grid-cols-12;
}

.page-heading-1 {
  @apply font-heading text-heading-2 leading-[2ex] md:text-[calc(64rem/16)];
}

.heading-1 {
  @apply font-heading text-heading-3 leading-[2ex] md:text-[calc(64rem/16)];
}

.heading-2 {
  @apply font-heading text-[calc(32rem/16)] leading-[2ex] md:text-[calc(46rem/16)];
}

.layout-form-grid {
  form > div {
    @apply grid grid-cols-2 gap-4 gap-y-0 md:gap-x-10;
  }

  form > div > div:last-child {
    @apply col-span-2;
  }
}

.input-border-transition {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.line-pattern {
  height: 4vh;
  background-image: url('/assets/line-pattern.png');
  background-size: auto 4vh;
  background-repeat: repeat-x;
}

.patterned-bg {
  background-repeat: repeat;
  background-color: #0b0b0b;
  background-size: 140px 140px;
  background-image: url('/assets/repeat-bg-01.png');
  background-blend-mode: darken;
}

/*.patterned-bg {
  background-repeat: repeat;
  background-color: #0b0b0b;
  background-size: 1696px 608px;
  background-image: url('/assets/repeat-bg.png');
  background-blend-mode: darken;
}*/

.next-project-button {
  --next-color: hsl(var(--foreground));
  color: hsla(from var(--next-color) h s l / 0);
  -webkit-text-stroke: 1px var(--next-color);
  transform: rotateY(-45deg) translateZ(0);
  transform-origin: right center;
  transition: all 0.3s ease-out;
}

.next-project-button:hover {
  transform: rotateY(0) translateZ(0);
  color: hsla(from var(--next-color) h s l / 0.8);
  -webkit-text-stroke: 1px var(--next-color);
}

.view-site-button {
  corner-shape: scoop;
}

.view-site-button:hover {
  corner-shape: round;
}

/* Icon Transition Cross*/
.icon-cross {
  --ic-icon-size: 3rem;
  --ic-text-color: white;

  display: block;
  width: var(--ic-icon-size);
  aspect-ratio: 1;
  scale: 0.6;
  position: relative;
  rotate: 45deg;
}

.icon-cross > * {
  pointer-events: none;
  user-select: none;
}

.icon-cross[aria-expanded='true'] {
  --ic-text-color: black;
}

.icon-cross span {
  @apply pointer-events-none transition-all duration-200 ease-in-out;
}

.icon-cross[aria-expanded='true'] > .cross-circ {
  width: 3px;
}

.icon-cross[aria-expanded='true'] > .cross-line {
  @apply rotate-0;
}

.icon-cross > .cross-line {
  @apply absolute inset-0 flex rotate-45 items-center justify-center;
}

.icon-cross .cross-line-1,
.icon-cross .cross-line-2 {
  display: block;
  position: absolute;
  width: var(--ic-icon-size);
  height: 3px;
  background-color: var(--ic-text-color);
}

.icon-cross .cross-line-2 {
  rotate: 90deg;
}

.icon-cross > span.cross-circ {
  width: calc(25%);
  display: block;
  border-radius: 999px;
  aspect-ratio: 1;
  position: absolute;
  background-color: var(--ic-text-color);
}

.icon-cross > span.cross-circ:nth-child(1) {
  top: 0;
  right: 0;
}

.icon-cross > span.cross-circ:nth-child(2) {
  left: 0;
  top: 0;
}

.icon-cross > span.cross-circ:nth-child(3) {
  left: 0;
  bottom: 0;
}

.icon-cross > span.cross-circ:nth-child(4) {
  right: 0;
  bottom: 0;
}

.article-image-block {
  @apply flex flex-col items-start text-end;
}

.article-image-block > div {
  @apply mt-0 w-full;
}

.article-image-block > div p {
  @apply text-[0.8em] !italic;
}

.article-image-block > div > picture {
  @apply mb-0;
}

.mobile-nav-menu-item {
  @apply transition-default;

  --menu-fill-color-1: transparent;
  --menu-fill-color-2: black;

  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    var(--menu-fill-color-1) 0%,
    var(--menu-fill-color-1) 50%,
    var(--menu-fill-color-2) 50%,
    var(--menu-fill-color-2) 100%
  );
  background-position: 0% 0%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 200%;

  &[data-active='true'] {
    background-position: 0% 100%;
  }

  a {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
  }
}

.wavyline {
  @apply absolute right-0 top-0 h-[60vw] w-[60vw] translate-x-[40%] translate-y-[-55%] transform;
}

.wavyline-content {
  --wave-duration: 100s;
  @apply relative flex h-full w-full items-center justify-center;
}

.wavyline-content::before {
  @apply absolute animate-spin;

  animation-duration: var(--wave-duration);
  content: '';
  background-image: url('/assets/wavyline.svg');
  background-repeat: no-repeat;
  display: block;
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
}

.wavyline-content::after {
  @apply absolute animate-spin;

  animation-direction: reverse;
  animation-duration: var(--wave-duration);
  content: '';
  background-image: url('/assets/wavyline.svg');
  background-repeat: no-repeat;
  display: block;
  aspect-ratio: 1;
  width: 90%;
  height: 90%;
}

#image-anchors {
  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
  }
}

.rivera {
  overflow-wrap: break-word;
  hyphens: auto;
  overflow: hidden;
  text-wrap: auto;
}

.prose {
  a {
    --tw-prose-links: oklch(0.78 0.13 74.96);
  }
}
