@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 240 5% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 196 52% 74%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  [data-theme='dark'] {
    --background: 0 0 0;
    --foreground: 0.986 0.01 250;

    --card: 0.19 0 0;
    --card-foreground: 0.986 0.01 250;

    --popover: 0.203 0.024 263.7;
    --popover-foreground: 0.986 0.01 250;

    --primary: 0.986 0.01 250;
    --primary-foreground: 0.271 0.024 263.7;

    --secondary: 0.323 0.022 259.4;
    --secondary-foreground: 0.986 0.01 250;

    --muted: 0.323 0.022 259.4;
    --muted-foreground: 0.698 0.022 259.4;

    --accent: 0.323 0.022 259.4;
    --accent-foreground: 0.7764 0.1336 73.62;

    --destructive: 0.52 0.22 15;
    --destructive-foreground: 0.986 0.01 250;

    --border: 0.29 0 0 / 0.8;
    --input: 0.323 0.022 259.4;
    --ring: 0.86 0.03 260;

    --success: 0.35 0.15 200;
    --warning: 0.45 0.15 70;
    --error: 0.55 0.15 25;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

body::selection {
  background-color: oklch(from cyan l c h / 0.8);
  color: #111;
}

.border-debug {
  border: solid 1px cyan;
}

.wg-grid-1 {
  @apply grid grid-cols-12 gap-5;
}

.heading-1 {
  @apply font-heading leading-[2ex] text-[calc(64rem/16)];
}

.heading-2 {
  @apply font-heading leading-[2ex] text-[calc(46rem/16)];
}

.layout-form-grid {
  form>div {
    @apply grid grid-cols-2 gap-x-10 gap-y-0;
  }

  form>div>div:last-child {
    @apply col-span-2;
  }


}

.input-border-transition {
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}
